<div *ngIf="alert" class="alert alert-success alert-dismissible fade show container-fluid" role="alert">
    <strong>Success !</strong>Congratulations Courses submited Successfully !.
    <button type="button" class="close" data-dismiss="alert" (click)="alertClose()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="alertDelete" class="alert alert-danger alert-dismissible fade show container-fluid" role="alert">
    <strong>Success !</strong>Congratulations Courses submited Successfully !.
    <button type="button" class="close" data-dismiss="alert" (click)="alertDeleteClose()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container-fluid">
    <app-page-title title="Class Routine" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row" *ngIf="auth; else notParmit">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-1">Class Routine</h4>


                    <!-- Large modal -->
                    <button type="button" class="btn btn-success" (click)="extraLargeModal(extraLargeDataModal)"> <i
                            data-feather="plus"> </i>Add Routine</button>
                    <!-- Large Modal -->
                    <!-- Extra large modal -->
                    <ng-template #extraLargeDataModal let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">Class Routine</h5>
                            <button type="button" class="close" (click)="modal.dismiss('Cross click')"
                                aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">

                            <div class="container">
                                <!-- form start  -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="header-title mt-0">Class Routine</h4>


                                                <form class="form-horizontal" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col">

                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label"
                                                                    for="simpleinput">ID
                                                                </label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control"
                                                                        id="simpleinput"
                                                                        [(ngModel)]=" classroutineService.currentClassroutine.routineid"
                                                                        name="routineid">
                                                                </div>
                                                            </div>



                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Class Day</label>
                                                                <div class="col-lg-10">

                                                                    <ng-select [items]="day"
                                                                        [(ngModel)]="classroutineService.currentClassroutine.day"
                                                                        name="day"></ng-select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Time</label>
                                                                <div class="col-lg-10">

                                                                    <ng-select [items]="time"
                                                                        [(ngModel)]="classroutineService.currentClassroutine.time"
                                                                        name="time"></ng-select>
                                                                </div>
                                                            </div>


                                                        </div>

                                                        <!-- serction 2 -->
                                                        <div class="col">

                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Teacher</label>
                                                                <div class="col-lg-10">

                                                                    <select class="form-control"
                                                                        [(ngModel)]="classroutineService.currentClassroutine.teacherid"
                                                                        name="teacherid">
                                                                        <option *ngFor="let workout of allProfessors">
                                                                            {{workout.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>





                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Courses</label>
                                                                <div class="col-lg-10">

                                                                    <select class="form-control"
                                                                        [(ngModel)]="classroutineService.currentClassroutine.courseid"
                                                                        name="courseid">
                                                                        <option *ngFor="let workou of courses">
                                                                            {{workou.name}}</option>
                                                                    </select>
                                                                    <!-- <input hidden id="facultyName" value="workout.facuyltyiname"/> -->
                                                                    <!-- onchange="method1(facultyName, deptName)" -->
                                                                </div>
                                                            </div>
                                                            <!-- function method(facultyName,deptname, ){
                                                                                        $("#facultyName").val(facultyNamew);
                                                                                        $("#deptName").val(facultyNamew);
                                                                                    } -->

                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Batch</label>
                                                                <div class="col-lg-10">

                                                                    <select class="form-control"
                                                                        [(ngModel)]="classroutineService.currentClassroutine.batchid"
                                                                        name="batchid">
                                                                        <option *ngFor="let batch of allBatch">
                                                                            {{batch.batchName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-block btn--md btn-primary"
                                                        (click)="createOrUpdate(classroutineService.currentClassroutine)"
                                                        (click)="modal.dismiss('Cross click')">Submit</button>
                                                </form>

                                            </div> <!-- end card-body -->
                                        </div> <!-- end card-->
                                    </div><!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!--End form start  -->

                        </div>
                    </ng-template>

                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Batch</th>
                                    <th>Courses</th>
                                    <th>Teacher</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let table of  allClassroutine">



                                    <td>{{table.routineid}}</td>
                                    <td>{{table.day}}</td>
                                    <td>{{table.time}}</td>
                                    <td>{{table.batchid}}</td>
                                    <td>{{table.courseid}}</td>
                                    <td>{{table.teacherid}}</td>

                                    <!-- <td>{{table.education}}</td> -->
                                    <td>
                                        <div class="row icons-list-demo">
                                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                                <a href="#" class="text-danger"
                                                    (click)="deleteEmployee(table.routineid)"><i
                                                        class='uil uil-trash'></i></a>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                                <a (click)="edit(table)"
                                                    (click)="extraLargeModal(extraLargeDataModal)"><i
                                                        class='uil uil-file-edit-alt'></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end row -->

    <ng-template #notParmit>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Day</th>
                                        <th>Time</th>
                                        <th>Batch</th>
                                        <th>Courses</th>
                                        <th>Teacher</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let table of  allClassroutine">



                                        <td>{{table.routineid}}</td>
                                        <td>{{table.day}}</td>
                                        <td>{{table.time}}</td>
                                        <td>{{table.batchid}}</td>
                                        <td>{{table.courseid}}</td>
                                        <td>{{table.teacherid}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </ng-template>

</div>